<form>

  <button type="submit" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-danger">Cancel</button>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="">Image URL</label>
    <input type="text" class="form-control" id="image-url">
  </div>

  <div class="form-group">
    <label for="">Content</label>
    <textarea type="text" class="form-control" id="content" rows="6"></textarea>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
  <br>
  <div class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
    <button type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>

</form>