<header>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#">Recipe book</a></li>
    <li role="presentation"><a href="#">Shopping List</a></li>
    <li>
      <div class="dropdown" appDropdown>
        <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
          </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Save</a></li>
          <li><a href="#">Load</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>