<header>
  <ul class="nav nav-pills">
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/recipes']">Recipe book</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/shoppinglist']">Shopping List</a></li>
    <li>
      <div class="dropdown" appDropdown>
        <button class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true">
          Administration
          <span class="caret"></span>
          </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a (click)="onSave()" style="cursor: pointer">Save</a></li>
          <li><a (click)="onLoad()" style="cursor: pointer">Load</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>