<div class="row">
    <div class="col-md-12">
        <img src="{{ selectedRecipe?.imagePath }}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ selectedRecipe?.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Save in Shopping List</button>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Remove</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ selectedRecipe?.description }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        ingredients
    </div>
</div>






